body {
  width: 400px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  color: #666666;
  font-size: 0.5em;
}
.main_area {
  width: 380px;
  padding: 10px;
}
