body {
  width: 340px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
.main_area {
  width: 340px;
  padding: 10px;
}
.target_url_field {
  padding-bottom: 20px;
}
.target_url_field label {
  display: block;
  color: #666666;
  font-size: 0.5em;
}
.target_url_field .input {
  display: inline-flex;
}
.target_url_field .input input#target_url {
  width: 210px;
  padding: 10px;
  background-color: #EEEEEE;
  border-radius: 3px;
  border: solid 1px #EEEEEE;
}
.target_url_field .input button#set_target_url {
  color: #fff;
  background-color: #1976D2;
  width: 80px;
  padding: 10px;
  border: solid 1px #1976D2;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 5px;
}
.target_url_field .input button#set_target_url:hover {
  color: #fff;
  background-color: #0D47A1;
}
.operation_field {
  margin: 10px 5px;
}
.operation_field .remove {
  display: inline-flex;
}
.operation_field .export {
  margin: 10px 0;
}
.operation_field .remove button {
  color: #00796B;
  background-color: #fff;
  width: 150px;
  padding: 10px;
  border: solid 1px #00796B;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
}
.operation_field .remove button:hover {
  color: #fff;
  background-color: #00796B;
}
.operation_field button#remove_all {
  margin-right: 10px;
}
.operation_field button#export {
  color: #fff;
  background-color: #00796B;
  width: 310px;
  padding: 10px;
  border: solid 1px #00796B;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
}
.operation_field button#export:hover {
  color: #fff;
  background-color: #004D40;
  border: solid 1px #004D40;
}
